# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
ENV/

# Environment Variables and Config
.env
**/.env
config.py
**/config.py

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
